.custom-img-size {
    width: 90%; 
    height: auto;
}

.half-rule {
    width: 90%;
    margin: 20px auto;
    border-top: 3px solid #ccc;
}

.table thead th {
    background-color: #000;  
    color: #fff;        
}

.row {
    display: flex;
    justify-content: center;
}
